<mat-card-footer class="flex! flex-col! bg-black/90! text-white/60! p-2!">
  <mat-card-title> <!--game title-->
    <h3>{{gameTitle}}</h3>
  </mat-card-title>

  <mat-card-content class="flex! p-0! justify-between! items-center!"> <!--game content-->
    <div class="flex! justify-between! items-center! gap-1!">
      <span class="text-blue-500! font-extrabold! text-lg!">|</span>
      <p>{{gameType}}</p>
    </div>

    <p class="text-xl">{{gamePrice}}</p>
  </mat-card-content>
</mat-card-footer>
