<app-menu-bar></app-menu-bar>

<section class="flex justify-center items-center">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 px-3 pt-10">
    <app-card
      gameCover="assets/ac-cover.jpg"
      gamePrice="$49.99"
      gameType="PS3 | PS4">
    </app-card>

    <app-card
      gameCover="assets/bt-1.jpg"
      gameLabel="50% OFF"
      gamePrice="$19.99"
      gameType="PS4 | PS5">
    </app-card>

    <app-card
      gameCover="assets/bt-4.jpg"
      gameLabel="Buy Cross"
      gamePrice="$59.99"
      gameType="PS4 | PS5">
    </app-card>
  </div>
</section>


