<div class="bg-white grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center py-4">

  <div class="flex justify-center md:justify-start pl-4">
    <img src="assets/ps-logo.png" alt="Logo" class="w-38 h-auto" />
  </div>

  <div class="flex justify-center flex-col md:flex-row">
    <button mat-button class="!text-black">Home</button>
    <button mat-button class="!text-black">Collections</button>
    <button mat-button class="!text-black">Sale</button>
    <button mat-button class="!text-black">Subscription</button>
    <button mat-button class="!text-black">Navigate</button>
  </div>
</div>

